<h1>Contact Founder</h1>

<div class="flex-container-10">
  <div class="flex-container-9-4">
    <div class="flex-container-12-1">
		  <div class="p-center">Happy to see that you like this founder. Our matching fee is USD $300. Before we show you their contact details, we'll put a deposit of USD $300 on your credit card. If for whatever reason you decide not to hire this founder, just click the "Declined" button in your <a href="/companies/contacted_founders" class="link-3">Contacted Founders</a> page and we will release the deposit. If you don't update us on the status for two weeks, we will assume that you hired this founder and charge your credit card.</div>
    </div>
	</div>
</div>

<p>
<button id='paymentButton' class="button">Pay</button>
</p>

<div class="container-link">
	<p><%= link_to 'Go back', "/search/founders/#{@founder_id}", class: "link-3" %></p>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script> 
  document.addEventListener('click', function (event) {
  if (event.target.matches('#paymentButton')) {
    var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");

    stripe.redirectToCheckout({
      sessionId: "<%= @session.id %>"
    }).then(function(result){
      //to do: handle error
    });
  }

}, false);


</script>

