<div class="center-image">
  <%= image_tag @profile_pic.url , :class => 'profile' %>
</div>

<h1>Hi <%= @founder.user.name %></h1>
<h2>What do you want to do today?</h2>


<p><%= link_to 'Your profile', "/founders/profile", class: "link-3" %> || <%= link_to 'Interested companies', "/founders/company_contacts" , class: "link-3" %></p> 



