<footer class="flex-container-footer">

  <div class="a-no-hover">hello@froggodoggo.com</div> 
  <div>
	  <a class="flex-container-5", href="https://froggodoggo.com/terms-of-service/", target="_blank">Terms of Service</a>
	  <a class="flex-container-5", href="https://froggodoggo.com/privacy/", target="_blank">Privacy Policy</a>
	</div>
  <div class="a-no-hover">&copy; <%= Time.current.year %> Humbot Inc. </div>

</footer>