<nav class="flex-container-1">
  <div class="center-image">
    <a>
      <%= image_tag 'fd_test_v1_5_4.png' , :class => 'logo' %>
    </a>
  </div>

  <% if session[:user_id] %> <!-- if this doesn't work, try adding .present? -->
    <div class="flex-container-3">
        <a><%= link_to 'Logout', logout_path, class: "flex-container-5" %></a>
    </div>
  <% else %>
    <div class="flex-container-3">
        <a><%= link_to 'Login', login_path, class: "flex-container-5" %></a>
    </div>
  <% end %>
<!-- 
    <div id="openMenu">
      <div class="burger"></div>
      <div class="burger"></div>
      <div class="burger"></div>
    </div>

    <div id="menuContainer">
      <div class="flex-container-20">
        <span class="flex-container-21" id="closeMenu">x</span>
          <a href={{ .URL }} class="flex-container-5">
          </a>
      </div>   
    </div> -->
</nav>